FRONTEND_PORT=4200
ORDER_PORT=8090
PAYMENT_PORT=8200
MQ_PORT_CLIENT=5672
MQ_PORT_WEB=15627
KC_PORT=8088
KC_HEALTH_PORT=9000
CATALOG_PORT=8100
PAYPAL_CLIENT_ID=xxxx
PAYPAL_CLIENT_SECRET=xxxxx
PAYPAL_WEBHOOK_ID=A0bAAxx