// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';
/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';

@theme {
  --color-primary: rgba(72, 158, 255, 1);
  --color-primary-blur: rgba(72, 158, 255, 0.1);
  --color-mat-sys-outline: var(--mat-sys-outline);
}

html {
  @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
        ),
        typography: (
          plain-family: 'Inter',
          brand-family: 'Inter',
          bold-weight: 600,
          medium-weight: 500,
          regular-weight: 400,
        ),
        density: 0,
      )
  );
  @include mat.expansion-overrides(
        (
          container-background-color: #F6FAFF,
          header-collapsed-state-height: 88px
        )
  );
  @include mat.button-overrides(
      (
        filled-container-shape: 12px,
        filled-container-height: 44px,
        filled-container-color: var(--color-primary),
        filled-label-text-weight: var(--font-weight-semibold),
        filled-horizontal-padding: 24px,
        filled-disabled-container-color: #E5E5E5,
        filled-disabled-label-text-color: white,
        outlined-outline-color: var(--color-primary),
        outlined-container-shape: 30px,
        outlined-container-height: 54px,
        outlined-label-text-color: var(--color-primary),
        outlined-horizontal-padding: 24px,
        outlined-icon-spacing: 8px,
        outlined-label-text-weight: var(--font-weight-semibold),
        outlined-label-text-size: 20px,
        text-container-shape: 6px,
        tonal-container-shape: 6px,
        text-horizontal-padding: 12px,
        tonal-horizontal-padding: 12px,
        text-container-height: 36px,
        tonal-container-height: 36px,
        protected-container-shape: 12px,
        protected-horizontal-padding: 24px,
        protected-icon-spacing: 8px,
        protected-container-color: var(--color-primary),
        protected-label-text-color: white,
        protected-container-height: 58px,
        protected-label-text-weight: var(--font-weight-semibold),
        text-label-text-color: var(--color-primary),
        text-label-text-size: 16px
      )
  );
  @include mat.fab-overrides(
      (
        extended-container-elevation-shadow: none,
        extended-focus-container-elevation-shadow: none,
        extended-hover-container-elevation-shadow: none,
        extended-pressed-container-elevation-shadow: none,
        container-color: none,
        foreground-color: #494349,
        extended-container-height:44px
      )
  );

  @include mat.button-toggle-overrides(
      (
        text-color: #E2E2E2,
        divider-color: #E2E2E2,
        selected-state-background-color: var(--color-primary-blur),
        selected-state-text-color: var(--color-primary)
      )
  );

  @include mat.form-field-overrides((
    outlined-label-text-size: 16px,
    outlined-container-shape: 8px,
    outlined-label-text-weight: var(--font-weight-medium),
    container-text-weight: var(--font-weight-normal),
  ))
}

// No MDC token exists for extended-fab border
// Revisit if a token is added in future versions
.mat-mdc-extended-fab {
  border: 1px solid #E2E2E2 !important;
  padding-inline: 24px !important;

  &.active {
    @include mat.fab-overrides((
      container-color: var(--color-primary-blur),
      foreground-color: var(--color-primary),
    ));
    border: 1px solid var(--color-primary) !important
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  @include mat.dialog-overrides(
      (
        container-shape: 6px,
      )
  );

  --mat-sys-body-large-size: 0.875rem;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  sans-serif;
}

.elevated {
  box-shadow: var(--mat-sys-level2);
}

button[matButton='text'].danger {
  @include mat.button-overrides(
      (
        text-label-text-color: #AB2538,
        text-label-text-size: 14px
      )
  )
}

mat-form-field.rounded {
  @include mat.form-field-overrides((
    outlined-container-shape: 24px,
  ))
}

mat-form-field.search {
  @include mat.form-field-overrides((
    outlined-container-shape: 12px,
    container-height: 48px,
    outlined-label-text-weight: var(--font-weight-regular),
    outlined-label-text-size: 14px,
    leading-icon-color: var(--color-primary),
  ))
}

mat-chip.category-chip {
  @include mat.chips-overrides((
    container-shape-radius: 99px,
    elevated-container-color: #F8F7F8,
    outline-color: #F8F7F8,
    container-height: 40px,
  ))
}

// Move this to the component scss file when creating components
button[matButton='filled'].btn-lg {
  @include mat.button-overrides(
      (
        filled-container-height: 58px,
        filled-horizontal-padding: 24px,
        filled-icon-spacing: 8px,
        filled-container-shape: 12px
      )
  )
}

button[matButton='filled'].btn-md {
  @include mat.button-overrides(
      (
        filled-container-height: 38px,
        filled-horizontal-padding: 20px,
        filled-icon-spacing: 4px,
        filled-container-shape: 32px
      )
  )
}

button[matButton='filled'].btn-sm {
  @include mat.button-overrides(
      (
        filled-container-height: 23px,
        filled-horizontal-padding: 20px,
        filled-icon-spacing: 4px,
        filled-container-shape: 32px,
        filled-label-text-weight: var(--font-weight-medium),
      )
  )
}

button[matButton='filled'].btn-icon {
  @include mat.button-overrides(
      (
        filled-container-height: 38px,
        filled-horizontal-padding: 20px,
        filled-icon-spacing: 8px,
        filled-container-shape: 32px,
        filled-label-text-weight: var(--font-weight-semibold),
      )
  )
}

button[matButton='filled'].btn-pill {
  @include mat.button-overrides(
      (
        filled-container-height: 46px,
        filled-horizontal-padding: 24px,
        filled-icon-spacing: 8px,
        filled-container-shape: 38px,
        filled-label-text-weight: var(--font-weight-semibold),
      )
  )
}

button[matButton='filled'].btn-sign {
  @include mat.button-overrides(
      (
        filled-container-height: 48px,
        filled-icon-spacing: 14px,
        filled-container-shape: 12px,
        filled-label-text-weight: var(--font-weight-semibold),
        filled-container-color: white,
        filled-label-text-color: var(--color-primary)
      )
  )
}

button[matButton='filled'].btn-pill-sm {
  @include mat.button-overrides(
      (
        filled-container-height: 42px,
        filled-icon-spacing: 10px,
        filled-container-shape: 30px,
        filled-label-text-weight: var(--font-weight-medium),
        filled-label-text-size: 16px,
        filled-container-color: white,
        filled-label-text-color: black,
        filled-horizontal-padding: 20px,
      )
  );

  mat-icon {
    color: var(--color-primary);
  }
}

button[matButton='filled'].btn-pill-xs {
  @include mat.button-overrides(
      (
        filled-container-height: 36px,
        filled-icon-spacing: 4px,
        filled-container-shape: 30px,
        filled-label-text-weight: var(--font-weight-medium),
        filled-label-text-size: 14px,
        filled-container-color: white,
        filled-label-text-color: black,
        filled-horizontal-padding: 16px,
      )
  );

  mat-icon {
    color: var(--color-primary);
  }
}

button[matButton='filled'].space-between .mdc-button__label {

  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


button[matButton='filled'].danger {
  border: 1px solid #E43950 !important;
  @include mat.button-overrides(
      (
        filled-container-height: 38px,
        filled-container-shape: 32px,
        filled-label-text-weight: var(--font-weight-regular),
        filled-container-color: #FEF2F3,
        filled-label-text-color: #E43950
      )
  )
}

button[matButton='outlined'].btn-sm {
  @include mat.button-overrides(
      (
        outlined-container-height: 38px,
        outlined-label-text-size: 14px,
        outlined-icon-spacing: 4px,
      )
  )
}


button[matButton='outlined'].danger {
  @include mat.button-overrides(
      (
        outlined-label-text-color: var(--mat-sys-error),
        outlined-outline-color: var(--mat-sys-error),
        outlined-state-layer-color: var(--mat-sys-error),
      )
  );
}

button[matIconButton] {
  @include mat.icon-button-overrides(
      (
        icon-color: white,
      )
  );

  &.bg-primary {
    background-color: var(--color-primary);
  }
}

button[matIconButton].danger {
  @include mat.icon-button-overrides(
      (
        icon-color: var(--mat-sys-error),
        state-layer-color: var(--mat-sys-error),
      )
  );
}


button[matIconButton].small {
  @include mat.icon-button-overrides(
      (
        icon-size: 24px,
        touch-target-size: 28px,
        state-layer-size: 28px,
      )
  );
}

mat-icon.small {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.danger {
  color: var(--mat-sys-error);
}

mat-form-field {
  @include mat.theme(
      (
        density: -1,
      )
  );

  width: 100%;
}

mat-sidenav {
  @include mat.sidenav-overrides(
      (
        container-width: 250px,
        container-shape: 0px,
        container-background-color: white,
        container-divider-color: var(--mat-sys-outline-variant),
      )
  );

  @include mat.list-overrides(
      (
        active-indicator-color: var(--mat-sys-primary),
        active-indicator-shape: 6px,
        list-item-one-line-container-height: 40px,
        list-item-label-text-color: red,
      )
  );
}

// Style to fix the weird border with angular material + tailwindcss
.mdc-notched-outline__notch {
  border-right: none !important;
}

//Responsive grid
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}

//Styles for the buttons inside the side cart
button[matIconButton].sidecart-button {
  @include mat.icon-button-overrides((
    state-layer-size: 32px,
    icon-color: var(--color-primary),
  ));
}

button[matButton='text'].sidecart-button {
  @include mat.button-overrides((
    text-label-text-size: 12px,
    text-label-text-weight: var(--font-weight-semibold),
    text-container-height: 20px
  ))
}

// Added this to be able to resize the input width
// As of intl-tel-input/angular version 28.0.7 the input is nested in a div that has
// .iti class
intl-tel-input .iti {
  width: 100%;
}
