ORDER_INTERNAL_SECRET=xxxxx999xxxx9
KC_ADMIN_CLIENT_SECRET=Av5delwsQAv5delwsQ
CATALOG_BASE_URL=http://localhost:8082
KC_BASE_URL=http://localhost:8081
PAYMENT_BASE_URL=http://localhost:8083
FRONTEND_URL=http://localhost:4200